<div class="request-container">
    <div class="request-box">
        <p class="title">Запити на приєднання</p>
        <mat-divider class="title-divider"></mat-divider>
        <div class="action-box">
            <div class="action-box-checkbox">
                <mat-checkbox></mat-checkbox>
                <button mat-stroked-button>
                    Дії
                    <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
                </button>
            </div>
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
                <mat-label>Знайти по прізвищу</mat-label>
                <mat-icon matPrefix>search</mat-icon>
                <input type="text" matInput [formControl]="startLastnameWith" (blur)="reloadPages()">
                <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
        </div>
        <mat-action-list>
            <div *ngFor="let user of users; index as i">
                <button mat-list-item [routerLink]="'/dashboard/requests/' + user.userId">
                    <!--<div matListItemIcon
                         style="display: flex; align-items: center; justify-content: center; justify-items: center">
                        <mat-checkbox></mat-checkbox>
                    </div>-->
                    <p matListItemTitle style="margin: 0" class="list-title">{{user.lastName + " " + user.lastName}}</p>
                    <p matListItemLine style="margin: 0" class="list-line">{{user.email}}</p>
                    <div matListItemMeta>
                        <mat-icon>arrow_right</mat-icon>
                    </div>
                </button>
                <mat-divider *ngIf="i + 1 !== users.length"></mat-divider>
            </div>
        </mat-action-list>
        <button mat-button *ngIf="users.length >= 25 && hasNext" (click)="loadMore()">Завантажити ще</button>
    </div>
</div>
