<mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button aria-label="Іконка меню">
        <mat-icon>menu</mat-icon>
    </button>
    <img ngSrc="assets/mindglow_logo.svg" width= "1000" draggable="false" priority="5" height="400" alt="" class="logo">
    <span class="spacer"></span>
    <button mat-icon-button aria-label="Акаунт">
        <mat-icon>person</mat-icon>
    </button>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav [opened]="true" mode="side" class="sidenav">
        <mat-nav-list class="navigation-list">
            <a mat-list-item [activated]="isCurrentRoute('/dashboard')" routerLink="/dashboard">
                Головна
                <mat-icon matListItemIcon>home</mat-icon>
            </a>
            <a mat-list-item [activated]="isCurrentRoute('/subjects')" routerLink="/dashboard/subjects">
                Предмети
                <mat-icon matListItemIcon>groups</mat-icon>
            </a>
            <a mat-list-item [activated]="isCurrentRoute('/planning')" routerLink="/dashboard/planning">
                Навчальний план
                <mat-icon matListItemIcon>calendar_today</mat-icon>
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item [activated]="isCurrentRoute('/teachers')" routerLink="/dashboard/teachers">
                Вчителі
                <mat-icon matListItemIcon>person_apron</mat-icon>
            </a>
            <a mat-list-item [activated]="isCurrentRoute('/pupils')" routerLink="/dashboard/pupils">
                Учні
                <mat-icon matListItemIcon>person</mat-icon>
            </a>
            <a mat-list-item [activated]="isCurrentRoute('/requests')" routerLink="/dashboard/requests">
                Запити на реєстрацію
                <mat-icon matListItemIcon>mail</mat-icon>
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item [activated]="isCurrentRoute('/settings')" routerLink="/dashboard/settings">
                Налаштування
                <mat-icon matListItemIcon>settings</mat-icon>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>